{{yield}}
<ul>
  <li>{{#link-to "index"}}Blog{{/link-to}}</li>
  <li>{{#link-to "about"}}About{{/link-to}}</li>
  <li>{{#link-to "contact"}}Contact{{/link-to}}</li>
  <li>{{#link-to "admin"}}Admin Console{{/link-to}}</li>
</ul>
